@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i | Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i | Hind:300,400,500,600,700');

@import "bootstrap.css";
@import "icomoon.css";
@import "owl.carousel.css";
@import "font-awesome.css";
@import "shortcodes.css";
@import "all.css";

/* navbar */

.nav-icons{
    position: relative;
    width: 77%;
    text-align: end;
   
}
.nav-icons a{
   padding: 0 0.2rem;
    
}
.nav-icons a img{
    width: 32px;  
}
.tp-caption.tp-resizeme{
    color: #fff !important;
}
.page-content .title-heading.wow{
    font-size: 18px;
    line-height: normal;
}

/* ===================================== */
/* ===================================== */
.research-bx{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* padding: 1rem; */
    font-family: "Poppins", sans-serif;
}
/* .research-bx.courses{
    padding: 0px 1.5rem;
} */
.research-bx.courses p{
    font-size: 14px;
}
.h-main{
    display: flex;
    align-items: center;
}
.h-main img{
    width: 20px;
    display: block;
    
}
.r-heading{
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1rem;    
    
}
.clinic-research li{
   display: flex;
   align-items: center;
   margin-left: 1rem;
}
.clinic-research li i{
    width: 50px;
    height: 50px;
    color: #7b2980;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    padding: 0 0.2rem;
    font-size: 1rem;
    transition: 0.3s linear;
}
.clinic-research li i:hover{
    color: #091D3E;
}

.img-box{
    width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 1rem;
    
}
.img-33{
    display: block;
    width: 100%;
}
.text-color{
    color: #fff !important;
}

.w-apply{
    font-size: 1.5rem !important;
    color: #7b2980 !important;
    font-family: "Poppins", sans-serif !important;
    padding-bottom: 0.5rem;
    
}
.title-bold{
    font-size: 2rem;
}
.carrer-img{
    z-index: 9;
}
.m-top{
    margin-top: -6rem;
}
/* ===================================== */
/* ===================================== */

/* ===================================== */
/* ===================================== */
.content-box{
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    
}
.content-box .icon-bx{
    width: 100px;
    height: 100px;
}
.content h6{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.content-box .content {
    flex: 1;
}

.placement-heading h3{
    font-size: 1.6rem;
    color: #7b2980;
    display: flex;
    position: relative;
    align-items: center;
    padding: 1rem 0;
    
    
}
.placement-heading h3::before{
    content: '';
    width: 300px;
    height: 2px;
    background-color: #7b2980;
    margin-right: 0.5rem;
}
/*============================  */
/* contact */
/* =========================== */
.apply-now{
    position: relative;
}
.apply-now a{
    position: fixed;
    left: 20px;
    bottom: 20%;
    text-decoration: none;
    z-index: 999;
    

}
.telegram{
    display: none;
}
.whats-app{
    width: 60px;

}
.btn.btn-apply{
    transform: translateY(-80px);
    background: linear-gradient(to right, rgba(66,22,68,0.9), rgba(113,38,118,0.9));
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 25px;
    text-align: center;
    display: block;
    border-radius: 50px;
    outline: none;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

/*==========================*/
/* footer */
/* =========================*/
.recent  a {
    display: flex;
}
.footer-bottom .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* =================================== */
/* Banner Button */
/* =================================== */
.mode-btn{
    display: flex;
    margin-top: 2rem;
    gap: 0 2rem;
    

}
.mode-btn button{
    border: 1px solid #fff;
    outline: none;
    overflow: hidden;
}
.mode-btn button:hover{
    background: #7b2980;
    color: #fff;
}
/* =================================== */
/* Landing Page Courses */
/* =================================== */
.fl-row.process.cours-section{
    padding: 2rem 0 0 1rem;
}
.cours-bx{
    margin-bottom: 2rem;
}
.cours-bx img{
    border-radius: 10px 10px  0 0;
}
.content-bx-course{
    background: #7b2980;
    padding: 0.5rem;
    border-radius: 0 0 10px 10px;
}
.cours-bx h3{
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color: #fff;
}
.cours-bx .duration button{
    font-size: 0.8rem;
    padding: 3px 5px;
    border-radius: 5px;
    font-weight: 500;
    color: #091D3E;
    border: 1px solid #fff;
    outline: none;
    margin-bottom: 0.5rem;
    color: #fff;
    
}
.cours-bx .duration button:hover{
    background: unset;
}

/* =================================== */
/* End Landing Page Courses */
/* =================================== */

/* =================================== */
/* Require */
/* =================================== */

.require{
    margin: 0 auto;
}
.require .require-bx{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.require .require-bx .require-box{
    width: 250px;
    height: 100px;
    border-radius: 15px;
    background-color: #3c4c59;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    
}
.require .require-bx .require-box h3{
    color: #f3f3f3;
    letter-spacing: 0.5px;
    text-align: center;
}
.require .require-bx .require-box .require-img{
    width: 50px;
    position: absolute;
    top: -15px;
    right: -15px;
}

/* =================================== */
/* End Require */
/* =================================== */

.blank-bge{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.bachelor li{
    display: flex;
    align-items: center;

}
.bachelor li i{
    padding-right: 8px;
}
.bachelor-heading{
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;

}
.bachelor-heading h2{
    font-size: 1.5rem;
}












/* ======================== */
/* Responsive Font */
/* ======================== */

/* 991px */

@media (max-width: 992px){
    .title-heading.text-color-title-sidebar{
        margin-bottom: 2rem !important;
        text-align: center;
    }
    .wrap-portfolio{
        padding: unset;
    }
    .cours-bx h3{
        font-size: 1.5rem;
       
    }
    /* banner title */
    #header-baner .text-banner .baner-tittle{
        font-size: 4rem;
    }
    /* banner title */
    @media (max-width: 776px){
        .slide-font-2{
            font-size: 1.5rem !important;
            line-height: -1rem;
        }
        .mob-small-font-heading{
            font-size: 2rem !important;
        }
        .mob-small-font-heading-p{
            font-size: 1.3rem !important;
        }
        .research-bx p{
            font-size: 1rem;
        }
        #header-baner .text-banner .baner-tittle{
            font-size: 1.6rem;
            line-height: 1.3em;
        }
        .m-top{
            margin-top: 2rem !important;
        }
        .clinic-research li {
            font-size: 14px;
        }
        .cours-bx h3{
            font-size: 1rem !important;
            
            
        }
        #header-baner .text-banner .baner-tittle{
            text-align: center;
        }
        .mode-btn{
            margin-top: -1rem !important;
            flex-direction: column;
    
        }
        .mode-btn button{
            background: unset;
            border: none !important;
            outline: none;
            padding: 0;
            margin: 0;
            color: #7b2980;
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
        }
        .mode-btn button:hover{
            background: unset !important;
            color: #7b2980 !important;
        }
        /* call action button */
        .telegram{
            display: block;
            transform: translateY(-50px);
        }
        .btn.btn-apply{
            display: none;
            
        }
        .whats-app{
            width: 30px;
        }
        /* end call action btn */
        #site-header {
            display: flex;
            padding: unset;
            align-items: unset;
            justify-content: unset;
        }
        #site-header .logo {
            width: 250px !important;
            padding-left: 3rem;
        }
        .nav-icons{
            display: none;
           
        }
    }
}
/* ======================== */
/* End Responsive Font */
/* ======================== */